* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.header h1 {
  font-size: 2.5rem;
  color: #333;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #707070 50%;
  border-radius: 5px;
}
